body{
    margin: 0;
    padding: 0;

}

*{
    box-sizing: border-box;
}

h1 {
    color: cornsilk;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer;
}

h1 span {
    transition: 0.5s ease-out;
}

h1:hover span:nth-child(1) {
    margin-right: 5px;
}

h1:hover span:nth-child(2) {
    margin-left: 30px;
}

h1:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}


.container{
    background-color: blue;
    padding: 4px;
    font-size: 1.25rem;
    text-align: center;
}

.searchBox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.inputbox{
    height: 30px;
    width: 20rem;
    margin: 10px;
    border: 2px solid grey;
}

button{
    height: 33px;
    width: 6rem;
    border-radius: 5px;
    background: rgb(33, 44, 33);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    transform: scale(1.1);
}

.sortBox{
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.sortByDate{
    width: 13rem;
    background: red;
    font-weight: bold;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sortByRating{
    width: 13rem;
    background: red;
    border: none;
    font-weight: bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.font{
    font-weight: bold;
}

.tab{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 10px;
}

.favorite{
    background-color: gold;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.imagebox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}


.image{
    padding: 10px;
    width: 206px;
    border: 2px solid aliceblue;
    background-color: azure;
    border-radius: 10px;
    color: rgb(112, 10, 143);
    border: 2px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img{
    width: 177px;
    height: 50%;
}

img:hover{
    transform: scale(1.1);
}

.textContainer{
    text-align: center;
}

.fa{
    cursor: pointer;
}

h5{
    text-align: center;
    margin: 1px;
}

.vote_count{
    display: flex;
    justify-content: space-around;
}

.page{
    display: flex;
    height: 100px;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#prev{
    background-color: red;
    font-weight: bold;
    border: none;

}

#current{
    background-color: blue;
    font-weight: bold;
    width: 8rem;
    border: none;

}

.all{
    background-color: gold;
    border: none;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 856px) {
    h1 {
        font-size: 16px;
    }
}